<h1>Here Are The Students</h1>

<div id="student-list">

    <% @students.each do |student| %>
      <div id="student">
        <div id="student-name"><%= student.name %></div>
        <div id="student-age"><%= student.age %></div>
      </div>
    <% end %>

</div>
